body {
  margin: 0px;
}

@import url("https://fonts.cdnfonts.com/css/avenir");

.container {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 2;
  padding: 1vw;
  box-sizing: border-box;
}

.container-card {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}

.left-part,
.right-part {
  height: 100%;
}

.left-part {
  width: 40%;
  float: left;
}

.left-part > img {
  width: 100%;
  height: 100%;
}

.right-part {
  width: 60%;
  float: right;
  padding: 1.5vw 0px 1vw 10vw;
  box-sizing: border-box;
}

.description-part {
  width: 100%;
  padding: 0px 20vw 0px 0px;
  box-sizing: border-box;
  font-size: 1.1vw;
}

.description-part > h1 {
  font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic,
    AppleGothic, sans-serif;
}

.description-part > h5 {
  font-family: "Avenir", sans-serif;
  color: #666666;
  line-height: 1.5vw;
  font-weight: 100;
}

.description-part > button {
  background: none;
  border: 0px;
  font-size: 1vw;
  padding: 0px;
  border-bottom: 1px solid black;
  margin: 1vw 0px;
}

.description-part > button > h5 {
  margin: 0.5vw 0px;
}

.shopping-part {
  margin-top: 2vw;
  height: 55%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* global */
img {
  width: 100%;
}

h1 {
  margin: 0.5rem 0;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-top: 10px solid #f00; */
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  pointer-events: none;
  height: 100%;
  cursor: none;
}

.card {
  overflow: hidden;
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  width: 17vw;
  height: auto;
  pointer-events: none;
  cursor: none;
}

.card__content {
  color: #4e4e4e;
  padding: 1rem;
}

.product-image {
  width: 100%;
  height: 80%;
}

.product-image > img {
  width: 100%;
  height: 100%;
}

.product-description {
  padding: 0.5vw;
  box-sizing: border-box;
}

.product-title {
  font-size: 1vw;
}

.product-title > span {
  font-family: "Avenir", sans-serif;
}

.product-property {
  margin: 0.5vw 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-property > span {
  display: inline-block;
  font-size: 1vw;
  font-weight: bold;
}

.product-colors {
  display: flex;
  gap: 1vw;
}

.border {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 0.2vw solid black;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 0.5vw;
}

.product-colors > button {
  border-radius: 50%;
  border: 0px;
  width: 10px;
  height: 10px;
}

.color-selector {
  display: flex;
  gap: 0.5vw;
}

.color {
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
  position: relative;
}

.first {
  background-color: #99c3cc;
}

.second {
  background-color: #cc9999;
}

.third {
  background-color: #cb99cc;
}

.fourth {
  background-color: #a6cc99;
}

@media only screen and (max-width: 700px) {
  .container {
    height: 100%;
  }
  .container-card {
    display: flex;
    flex-direction: column;
  }
  .left-part {
    width: 100%;
    flex: 0;
  }
  .right-part {
    width: 100%;
 
  }

  .right-part {
    padding: 1.5vw 0px 1vw 10vw;
  }

  .right-part{
    position: absolute;
    top: 30%;
  }

  .description-part {
    width: 100%;
    padding: 0px 20vw 0px 0px;
    box-sizing: border-box;
    font-size: 2.5vw;
    color: white;
  }

  .description-part > h5 {
    display: none;
  }

  .description-part > button {
    background: none;
    border: 0px;
    font-size: 4vw;
    padding: 0px;
    border-bottom: 1px solid white;
    color: white;
    margin: 10vw 0px 0px 0px;
  }

  .cards{
    height: 70%;
    margin-top: 5vw;
    grid-template-columns: repeat(3,60vw);
  }

  .card{
    width: 50vw;
  }

  .product-title{
    font-size: 3vw;
  }

  .product-property{
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

  }

  .product-property > span {
    font-size: 3vw;
    margin: 0.5vw 0px;
  }
  
  .color-selector{
    margin: 0.5vw 0px;
  }
  .color{
    width: 3vw;
    height: 3vw;
    
  }

  .border{
    width: 3vw;
    height: 3vw;
  }



  /* .description-part {
    width: 100%;
    padding: 0px 20vw 0px 0px;
    box-sizing: border-box;
    font-size: 2.5vw;
    position: absolute;
    top: 40%;
    color: white;
  }

  .description-part > h5 {
    display: none;
  }


  .description-part > button {
    background: none;
    border: 0px;
    font-size: 4vw;
    padding: 0px;
    border-bottom: 1px solid white;
    color: white;
    margin: 10vw 0px 0px 0px;
  } */
}
