body {
  margin: 0px;
}


@import url('https://fonts.cdnfonts.com/css/avenir');

.container {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 2;
  padding: 2vw;
  box-sizing: border-box;
}

.card{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

.left-part,
.right-part {
  height: 100%;
}

.left-part {
  width: 40%;
  float: left;
}

.left-part > img{
    width: 100%;
    height: 100%;
}

.right-part {
  width: 60%;
  float: right;
  padding: 1vw 0px 4vw 10vw;
  box-sizing: border-box;
}

.description-part{
    width: 100%;
    padding: 0px 20vw 0px 0px;
    box-sizing: border-box;
    font-size: 1.1vw;
}


.description-part > h1{
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-weight:700;
}



.description-part > h5{
    font-family: 'Avenir', sans-serif;
    color: #666666;
    line-height: 2vw;
    font-weight: 100;
}

.description-part > button{
    background: none;
    border: 0px;
    font-size: 1vw;
    padding: 0px;
    border-bottom: 1px solid black;
    margin: 1vw 0px;
}

.description-part > button > h5{
    margin: 0.5vw 0px;
}


